<!DOCTYPE HTML>
<html lang="es">
  <head>
	<meta charset="UTF-8">
    <meta name="author" content="Juan Pablo Aqueveque" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">juque.cl</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
	<footer>
		<ul>
			<li><a href="/" title="Portada">Portada</a></li>
			<li><a href="/acerca" title="Acerca">Acerca</a></li>
			<li><a href="/contacto" title="Contacto">Contacto</a></li>
		</ul>
	</footer>
  </body>
</html>
