<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Juan Pablo Aqueveque" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    <link rel="Shortcut Icon" href="http://juque.cl/favicon.ico" type="image/x-icon" />
    <title>{{ page.title }} | Juan Pablo Aqueveque, Temuco, CL (juque)</title>

    <!-- Geo -->
    <!-- Más Información en: http://geotags.com/geo/, http://geourl.org/ -->
    <meta name="geo.position" content="-38.7293;-72.5756" />
    <meta name="geo.region" content="CL-AR" />
    <meta name="geo.placename" content="Temuco" />
    <meta name="geo.country" content="CL" />
    <meta name="ICBM" content="-38.7293,-72.5756" />
    <meta name="DC.title" content="juque" />

  </head>
  <body>
    <div class="container">
        <header role="banner">
            <div class="row">
                <div class="col-md-3">
                  <p class="text-center"><a id="logo" href="/">juque</a> </p>
                </div>
                <div id="slogan" class="col-md-9">
                    Anotaciones Empíricas, de Ocurrencia Esporádica y Naturaleza Ecléctica
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <nav role="navigation">
                        <ul class="clearfix" id="nav">
                            <li><a href="/" title="Portada">Portada</a></li>
                            <li><a href="/acerca" title="Acerca">Acerca</a></li>
                            <li><a href="/contacto" title="Contacto">Contacto</a></li>
                            <li><a href="/todo" title="ToDo">ToDo</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <section>
                  {{ content }}
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>juque.cl - Juan Pablo Aqueveque, Temuco, Chile 2023.</footer>
            </div>
        </div>
    </div>
  </body>
</html>
