---
layout: default
---

<header>
	<hgroup>
		<h1>{{ page.title }}</h1> 
		<h4><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ page.date | localize: "%e de %B, %Y"  }}</time></h4>
	</hgroup>
</header>

<article>
{{ content }}
</article>

<div class="paginacion">
{% if page.previous %} 
        <a rel="prev" href="{{ page.previous.url }}">&larr; más añejo</a>
    {% endif %}
        &bull;
    {% if page.next %} 
        <a rel="next" href="{{ page.next.url }}">más reciente &rarr;</a>
{% endif %}
</div>
